.modal-instruction {
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
  white-space: pre-wrap;
}

.modal-buttons {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  &--right {
    display: flex;

    > button:first-child {
      margin-right: 0.5rem;
    }
  }
}

.modal-loading-button-text {
  align-items: center;
  display: flex;
  justify-content: space-between;

  > div {
    margin-left: 0.3rem;
  }
}

.modal-partner {
  align-items: center;
  display: flex;

  > * {
    margin-right: 1rem;
  }
}

.modal-partner-title {
  margin-bottom: 1rem;
}

.modal-image {
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  height: auto;
  width: calc(100% - 30px);
}

.modal-image-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  width: 100%;
}
