@import '../../assets/scss/main';

.landing {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);

  @include media('>desktop') {
    align-items: center;
    flex-direction: row;
  }

  &__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 2rem;
    text-align: center;

    @include media('>desktop') {
      align-items: flex-start;
      flex: 3;
      justify-content: center;
      margin-bottom: 0;
      margin-right: 1rem;
      text-align: left;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 0;
      @include media('>mobile', '<=desktop') {
        font-size: 3.5rem;
      }
      @include media('>desktop') {
        font-size: 4rem;
      }
    }

    p {
      font-size: 1.3rem;
      @include media('>mobile', '<=desktop') {
        font-size: 1.75rem;
      }
      @include media('>desktop') {
        font-size: 2rem;
      }
    }

    &__button-container {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    @include media('>desktop') {
      flex: 4;
      justify-content: center;
      margin-left: 1rem;
    }

    img {
      width: 100%;
    }
  }

  &__github-button {
    align-items: center;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem !important;

    @include media('>mobile', '<=desktop') {
      font-size: 1.25rem;
      padding: 1.25rem 2rem !important;
    }
    @include media('>desktop') {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      padding: 1.25rem 2rem !important;
      width: auto;
    }

    i {
      font-size: 1.5rem;
      margin-right: 0.5rem;

      @include media('>mobile', '<=desktop') {
        font-size: 1.75rem;
        margin-right: 0.75rem;
      }
      @include media('>desktop') {
        font-size: 1.8rem;
        margin-right: 1rem;
      }
    }
  }

  &__guest-button {
    font-size: 0.8rem;
    @include media('>mobile', '<=desktop') {
      font-size: 0.9rem;
    }
    @include media('>desktop') {
      font-size: 1rem;
    }
  }
}
