@import '../../assets/scss/variables';

.marker {
  background-color: $code-editor-partner-selection-color;
  position: absolute;

  &:last-of-type {
    border-bottom-right-radius: 0;
    border-right: 2.5px solid $code-editor-partner-cursor-color;
    border-top-right-radius: 0;

    &::before {
      background-color: $code-editor-partner-cursor-color;
      content: ' ';
      height: 6px;
      position: absolute;
      right: -5px;
      top: -3px;
      width: 6px;
    }
  }

  &.is-single {
    background-color: transparent;
    width: 0 !important;

    &::before {
      background-color: $code-editor-partner-cursor-color;
      content: ' ';
      height: 6px;
      position: absolute;
      right: -5px;
      top: -3px;
      width: 6px;
    }
  }
}
