@import '../../assets/scss/main';

.container {
  margin: 0 1rem;
  min-height: 100vh;

  @include media('>mobile', '<=tablet') {
    margin: 0 10%;
  }
  @include media('>tablet') {
    margin: 0 15%;
  }

  &-background {
    background-image: url('../assets/../../assets/images/curves.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
