@import '../../assets/scss/main';

.room {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  &--top {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include media('>tablet') {
      flex-direction: row;
    }

    &-left {
      display: flex;
      flex: 1;
      flex-direction: column;

      &__controls {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        padding: 0.5rem;
      }

      &__left-buttons {
        display: flex;
      }

      &__language-button {
        margin-right: 0.7rem;
      }

      &__help-button i {
        margin-left: 0.3rem;
      }

      &__editor {
        flex: 1;
      }
    }
  }

  &--bottom {
    background-color: $code-editor-bottom-bar-background-color;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem;

    &__execute-button {
      i {
        font-size: 80%;
        margin-left: 0.7rem;
      }

      &-text {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      &-text > div {
        margin-left: 0.3rem;
      }
    }
  }
}
