.loading {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loading-animation {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
