@import-normalize;
@import 'assets/scss/main';

html {
  background-color: $background-color;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}
