@import-normalize;
@import 'assets/scss/main';

html {
  background-color: $background-color;
}

body {
  color: $text-primary-color;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  margin: 0;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

// Text styles
.is-regular {
  font-weight: 400;
}

.is-bold {
  font-weight: 700;
}

// Button styles
// Only provides colors + border styles + some default padding

button {
  border-radius: $button-border-radius;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 1rem;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
  }
}

button.primary-button {
  background-color: $primary-button-background-color;
  border: 0;
  color: $primary-button-text-color;

  &:hover {
    background-color: $primary-button-background-hover-color;
  }
}

button.secondary-button {
  background: none;
  border: 0;
  color: $secondary-button-text-color;
  padding: 0;
  transition: color 0.3s;

  &:hover {
    color: $secondary-button-text-hover-color;
  }
}

button.border-button {
  background-color: $background-color;
  border: 1px solid $border-button-border-color;
  color: $border-button-text-color;
  padding: 0.5rem 0.8rem;

  &:hover {
    background-color: $border-button-background-hover-color;
  }
}

button.border-button.is-danger {
  border: 1px solid $danger-border-button-border-color;
  color: $danger-border-button-text-color;

  &:hover {
    background-color: $danger-border-button-background-hover-color;
  }
}
