@import '../../assets/scss/variables';

.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  &--top {
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem;

    &__left-buttons {
      display: flex;
    }

    &__language-button {
      display: flex;
      justify-content: space-between;
      margin-right: 0.7rem;
    }

    &__help-button i {
      margin-left: 0.3rem;
    }
  }

  .ace_editor {
    flex: 1;
  }
}

.language-dropdown {
  position: relative;

  button {
    width: 8rem;
  }

  &__dropdown {
    border-radius: $dropdown-border-radius;
    margin-top: 0.5rem;
    overflow: hidden;
    position: absolute;
    z-index: 5;

    button {
      background-color: $dropdown-background-color;
      border: 0;
      border-radius: 0;
      color: $dropdown-text-color;
      padding: 0.7rem 0.8rem;
      text-align: left;

      &:hover {
        background-color: $dropdown-background-hover-color;
      }
    }
  }
}
