@import '../../assets/scss/variables';

.guest {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  &--top {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem;

    &__left-buttons {
      display: flex;
    }

    &__language-button {
      margin-right: 0.7rem;
    }

    &__help-button i {
      margin-left: 0.3rem;
    }
  }

  &--bottom {
    background-color: $code-editor-bottom-bar-background-color;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem;
  }

  .ace_editor {
    flex: 1;
  }
}
