@import '../../assets/scss/variables';

.language-dropdown {
  position: relative;

  button {
    display: flex;
    justify-content: space-between;
    width: 8rem;
  }

  &__dropdown {
    border-radius: $dropdown-border-radius;
    margin-top: 0.5rem;
    overflow: hidden;
    position: absolute;
    z-index: 5;

    button {
      background-color: $dropdown-background-color;
      border: 0;
      border-radius: 0;
      color: $dropdown-text-color;
      padding: 0.7rem 0.8rem;
      text-align: left;

      &:hover {
        background-color: $dropdown-background-hover-color;
      }
    }
  }
}
