// General colors
$background-color: #1e2126;

// Text colors
$text-primary-color: white;
$text-secondary-color: #7b7a7f;
$text-success-color: #5f9d50;
$text-danger-color: #b8594c;

// Button colors
$primary-button-background-color: #24282d;
$primary-button-text-color: white;
$primary-button-hover-background-color: #34383d;
$primary-button-disabled-background-color: #24282d;
$primary-button-disabled-opacity: 0.5;

$secondary-button-text-color: #aeacb2;
$secondary-button-text-hover-color: #c6c4ca;
$secondary-button-disabled-opacity: 0.5;

$border-button-text-color: white;
$border-button-border-color: #2f353b;
$border-button-hover-background-color: #282e34;
$border-button-disabled-background-color: #2a2f35;
$border-button-disabled-text-color: #bcbcbe;
$border-button-disabled-border-color: #2a2f35;

$success-border-button-background-hover-color: #2a3428;
$success-border-button-text-color: #5f9d50;
$success-border-button-border-color: #5f9d50;
$success-border-button-disabled-opacity: 0.5;

$danger-border-button-background-hover-color: #34282d;
$danger-border-button-text-color: #b8594c;
$danger-border-button-border-color: #b8594c;
$danger-border-button-disabled-opacity: 0.5;

// Tab colors
$tab-unselected-color: #7b7a7f;
$tab-hover-color: #c6c4ca;

// Code editor colors
$code-editor-bottom-bar-background-color: #22262b;
$code-editor-separator-background-color: #24282d; // Separator between code and right panel
$code-editor-question-text-color: #bcbcbe;
$code-editor-interviewer-notes-placeholder-text-color: #6d6e72;

// Misc. colors
$landing-bg-curves-color: #4d4d4d;
$scrollbar-color: #4c5057;
$code-dark-background-color: #191a1c;
$modal-background-color: #1e2126;
$leaderboard-question-type-color: #bcbcbe;

// Opacities
$video-bottom-bar-opacity: 0.4;
$modal-overlay-opacity: 0.4;

// Border radius
$button-border-radius: 5px;
$modal-border-radius: 5px;
$video-border-radius: 5px;

// Dropdown
$dropdown-background-color: #2f353b;
$dropdown-background-hover-color: #4d555d;
$dropdown-text-color: white;
$dropdown-border-radius: 5px;
